h1 {
  text-align: center;
}

fieldset {
  padding: 1px;
  margin-bottom: 5px;
}

fieldset > input {
  width: calc(100% - 4px);
  border: none;
}

.border-center{
  margin: 10px auto;
  padding: 5px;
  width: 300px;
  outline: 1px solid black;
}

#explanation {
  margin: 10px;
  text-align: center;
}

#notice {
	text-align: center;
	color: #856404;
	background-color: #fff3cd;
	padding: .75rem 1.25rem;
	border: 1px solid #ffeeba;
	border-radius: .25rem;
}