#worlds {
  overflow: hidden;
}

.world-wrapper{
  width: 160px;
  height: 270px;
  margin: 10px;
  padding: 10px;
  float: left;
  border: 1px solid;
  text-align: center;
}

.world-wrapper > span {
  display: block;
}

.active{
  box-shadow: 0px 0px 10px 2px purple;
}

label {
  display: block;
}

#world-settings-wrapper {
  border: 1px solid;
  clear: both;
  margin: 10px;
  padding: 10px;
}
#template-wrapper {
  border: 1px solid;
  clear: both;
  margin: 10px;
  padding: 10px;
  position: relative;
}
#template-wrapper:not(.hidden) {
  display: grid;
  grid-template-columns: 350px auto;
}

#template-header > button {
  position: absolute;
  right: 0;
  top: 0;
}

#templates-wrapper {
  overflow: hidden;
}

.template {
  width: 160px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  float: left;
  border: 1px solid;
  text-align: center;
}

.template span,
#selected-template span {
  display: block;
}

#selected-template {
  width: 300px;
  height: 420px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  text-align: center;
  position: relative;
}

.template-version {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: white;
  outline: 1px solid black;
}

.template-link{
  display: block;
}

#template-filter {
  margin: 10px;
}

#template-filter > label {
  display: inline-block;
}

#player-amount {
  width: 3em;
}

#template-search{
  width: 100%;
  margin-bottom: 10px;
  font-size: x-large;
}

#template-header{
  grid-column: 1 / span 2;
  position: relative;
}

.replacement {
  float: left;
  width: 160px;
  height: 200px;
  margin: 8px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.replacement > img {
  width: 160px;
  height: 160px;
}

#world-reset {
  overflow: hidden;
}

#new-world {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  width: 350px;
}

.replacement.disabled {
  background-color: lightgray;
  color: gray;
}

.replacement.disabled > img{
  filter: grayscale(100%);
}

#backup-wrapper {
  width: 720px;
  padding: 5px;
}

ul#backup-list{
  list-style: none;
  padding: 5px;
}

ul#backup-list li {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
}

ul#backup-list button{
  float: right;
}

@media screen and (max-width: 795px){
  #template-header {
    grid-column: 1;
  }
  #template-wrapper:not(.hidden) {
    display: block;
    border: none;
  }
  #selected-template {
    margin: 0;
  }
  #templates-wrapper {
    padding: 10px;
  }
  .template {
    width: 110px;
    height: 200px;
    font-size: smaller;
    margin: 5px;
    padding: 5px;
  }
  .template > img {
    width: 110px;
    height: 110px;
  }
  .replacement {
  margin: 4px;
  }
  #backup-wrapper{
    width: calc(100% - 20px);
  }
}