#settings {
  margin: 10px;
}

#settings > div {
  padding: 5px;
}

#openCloseImg {
  width: 10px;
  height: 28px;
}

#preview {
  margin-top: 10px;
  padding: 5px;
  color: white;
  background-color: #38271a;
  height: 40px;
  width: 300px;
}

#ip-display {
  border: 1px solid black;
  padding: 5px
}